[Desktop Entry]
Type=Application
Name=Signal
Comment=Start Signal minimized in the system tray on login
Exec=flatpak run org.signal.Signal --start-in-tray
Icon=org.signal.Signal
Terminal=false
X-GNOME-Autostart-enabled=true
